.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
.ruff_cache/
.pytest_cache/
.git/
.github/
.claude/
private/
tests/
docs/
migrations/
*.db
*.md
!chronoq_predictor/pyproject.toml
!chronoq_server/pyproject.toml
!pyproject.toml
.DS_Store
